.nav {
  position: absolute;
  display: grid;
  height: 100vh;
  transition: all 500ms ease-in-out;
}
.nav-container {
  position: relative;
  z-index: 1;
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-container > div > .single {
  padding: 1em 3em !important;
}

.single {
  flex-direction: row !important;
}

.nav * {
  transition: all 500ms ease-in-out;
}
.nav .text {
  overflow: hidden;
  width: 0;
}

.nav .child {
  overflow: hidden;
  height: 0;
}

.nav p {
  padding-left: 0.2em;
}

.child-rot span {
  transform: scaleX(-1);
}

.nav div > button {
  height: 5em;
  border: none;
  padding: 0;
  align-self: center;
  background-color: unset;
}
.nav .logo {
  align-self: center;
  height: 5em;
  width: 5em;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.nav-link {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 0.7em;
  margin: 1em;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  background: #efe6dd;
  color: #231f20;
  text-decoration: none;
  box-shadow: 5px 5px 9px #00000015;
}

.nav-link:hover {
  scale: 1.05;
}
.nav-link:hover > span {
  scale: 1.05;
}
.nav-link:hover .nav-header > span {
  scale: 1.05;
}

.nav-header {
  color: #231f20;
  margin: 0 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.nav-link-selected {
  padding: 1em 0 !important;
  text-align: center;
  display: block;
  margin: 1em;
  border-radius: 1rem;
  align-items: center;
  background: #efe6dd;
  color: #231f20;
  text-decoration: none;
  box-shadow: 5px 5px 9px #00000015;
}


.nav-link > .nav-link {
  margin: 1em;
  border-radius: 1rem;
  background: #efe6dd;
  box-shadow: 5px 5px 9px #00000015;
}

.App-grid {
  display: grid;
  grid-template:
    'nav content' 1fr
    'nav footer' 2em
    / 7em 1fr;
}
