.selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2em;
  width: 80% !important;
}


.selector {
  padding: .1em .5em !important;
}