.logo {
  width: 400px;
}
.logo * {
  fill: #231f20;
}
.logo-cont {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-contupper {
  position: relative;
  z-index: 1;
}
.logo-contupper > .logo {
  width: 200px;
}
.logo-contsmall > .logo {
  width: 5em;
}

.logo #bur-top {
  transform-origin: 45% 16%;
  animation: logo-top 3s ease-in-out;
  animation-iteration-count: infinite;
}

.logo #bur-bot {
  transform-origin: 45% 16%;
  animation: logo-bot 3s ease-in-out;
  animation-iteration-count: infinite;
}
.logo #app-a {
  transform-origin: 55% 16%;
  animation: logo-text 3s ease-in-out;
  animation-iteration-count: infinite;
}
.logo #app-p1 {
  transform-origin: 55% 16%;
  animation: logo-text 3s ease-in-out -1500ms;
  animation-iteration-count: infinite;
}
.logo #app-p2 {
  transform-origin: 55% 16%;
  animation: logo-text 3s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes logo-top {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes logo-bot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes logo-text {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.95);
  }
  100% {
    transform: scaleY(1);
  }
}
