.panel {
  padding: 2.5em;
  margin: 1em;
  border-radius: 1rem;
  background: #efe6dd;
  box-shadow: 5px 5px 9px #00000020;
}

.inset {
  box-shadow: 5px 5px 9px #00000010, inset 19px 19px 38px #00000006;
}

.inline {
  display: inline-flex !important;
}

.selector {
  cursor: pointer;
  width: 20vw;
  padding: 0.75em !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selector *{
  text-decoration: unset !important;
}

.selector > span {
  font-size: 1.5em;
}

.small {
  width: 3em !important;
  height: 3em !important;
}

.small-text{

  height: 3em !important;

}

.small-text > span{
  font-size: 1.2em;

}

.small > span {
  font-size: 1.2em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.branches {
  width: 80%;
  padding: 2em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.branch {
  width: calc(100% - 5em);
  margin: 1em auto;
  display: grid;
  grid-template:
    'a a b'
    'c c b'
    / 1fr 1fr 1fr;
}
.branch-name {
  grid-area: a;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.branch-location {
  grid-area: c;
}
.branch-button {
  grid-area: b;
}

.button {
  width: 5em;
  height: 5em;
  border: none;
  padding: 0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.button:hover:not(:disabled) {
  scale: 1.1;
}
.button:hover:not(:disabled) span {
  scale: 1.05;
}

.color-red {
  background: #db2955;
  box-shadow: 5px 5px 9px #00000020;
  /* box-shadow: 5px 5px 9px #d2275285, -5px -5px 9px #e42b5885; */
  /* box-shadow: 5px 5px 9px #e5ddd4, -5px -5px 9px #f9efe6; */

}

.color-blue {
  background: #6bb0b3;
  box-shadow: 5px 5px 9px #00000020;
  /* box-shadow: 5px 5px 9px #67a9ac85, -5px -5px 9px #6fb7ba85; */
  /* box-shadow: 5px 5px 9px #e5ddd4, -5px -5px 9px #f9efe6; */

}

.color-white {
  background: #efe6dc;
  box-shadow: 5px 5px 9px #00000020;
}
.color-gray {
  background: #d3d3d3;
  box-shadow: 5px 5px 9px #00000020;
}