.panel {
  padding: 2.5em;
  margin: 1em;
  border-radius: 1rem;
  background: var(--white-color);
  box-shadow: 5px 5px 9px var(--shadow-2);
}

.inset {
  box-shadow: 5px 5px 9px var(--shadow-1), inset 19px 19px 38px var(--shadow-0);
}

.inline {
  font-size: 0.5em !important;
  margin-left: 1em;
  display: inline-flex !important;
}

.inline-right {
  font-size: 0.5em !important;
  margin-left: auto;
  display: inline-flex !important;
}

.selector {
  cursor: pointer;
  width: max(25vw, 300px);
  padding: 0.5em !important;
  font-size: 0.75em !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.selector * {
  text-decoration: unset !important;
}

.selector > span {
  font-size: 1.2em;
}

.small {
  width: 3em !important;
  height: 3em !important;
}

.small-text {
  height: 3em !important;
}

.small-text > span {
  font-size: 1.2em;
}

.small > span {
  font-size: 1.2em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.branches {
  width: 80%;
  padding: 2em;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.branch {
  width: calc(100% - 5em);
  margin: 1em auto;
  display: grid;
  grid-template:
    'a a b'
    'c c b'
    / 1fr 1fr 1fr;
}
.branch-name {
  grid-area: a;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.branch-location {
  grid-area: c;
}
.branch-button {
  grid-area: b;
}

.button {
  width: 5em;
  height: 5em;
  border: none;
  padding: 0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.button-normal {
  width: unset !important;
  padding: 0.5em 1em !important;
}

.button:hover:not(:disabled) {
  scale: 1.1;
}
.button:hover:not(:disabled) span {
  scale: 1.05;
}

.color-red {
  background: var(--red-color);
  box-shadow: 5px 5px 9px var(--shadow-2);
}

.color-blue {
  background: var(--blue-color);
  box-shadow: 5px 5px 9px var(--shadow-2);
}

.color-white {
  background: var(--white-color);
}
.color-gray {
  background: var(--gray-color);
  box-shadow: 5px 5px 9px var(--shadow-2);
}
