/* var(--black-color),var(--red-color),var(--blue-color), #d782ba,var(--white-color) */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  transition: all 500ms ease-in-out;
  user-select: none;
  color: var(--black-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Cairo';
  background-color: var(--white-color);
}

#root,
body {
  transition: none;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--white-color);
}

:root:has(* .light-color) {
  --black-color: #231f20;
  --white-color: #efe6dd;
  --blue-color: #6bb0b3;
  --gray-color: #d3d3d3;
  --shadow-0: #00000010;
  --shadow-1: #00000015;
  --shadow-2: #00000020;
  --shadow-3: #00000030;
}

:root:has(* .dark-color) {
  --black-color: #f9f5f0;
  --red-color: hsl(345, 71%, 41%);
  --white-color: hsl(345, 6%, 18%);
  --blue-color: hsl(183, 32%, 46%);
  --gray-color: #505050;
  --shadow-0: #00000010;
  --shadow-1: #00000055;
  --shadow-2: #00000080;
  --shadow-3: #00000090;
}
:root,
:root:has(* .white-color) {
  --red-color: #db2955;
  --black-color: #231f20;
  --white-color: #ffffff;
  --blue-color: #6bb0b3;
  --gray-color: #d3d3d3;
  --shadow-0: #00000010;
  --shadow-1: #00000015;
  --shadow-2: #00000020;
  --shadow-3: #00000030;
}

.waiting {
  position: absolute;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: var(--red-color);

  overflow: hidden;
}
h1 {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 0.5em;
  padding: 0;
}
.waiting-exit {
  opacity: 1;
}
.waiting-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}
.fries > * {
  position: absolute;
  background-color: var(--white-color);
  background-size: cover;
  background-position: center;
  width: 88px;
  height: 15px;
}

.lang-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.status {
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--blue-color);
  z-index: 100;
  transform: translate(-50%, 0.5rem);
  font-size: 1.5em;
  padding: 0.4em 2em;
}

.full-size {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: unset !important;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.login-container > * {
  width: 100%;
}

input[type='text'],
input[type='password'],
select {
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: var(--gray-color);
  color: var(--black-color);
  box-shadow: var(--shadow-0);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.selectable,
.selectable * {
  user-select: text;
}
