/* #231f20, #db2955, #6bb0b3, #d782ba, #efe6dd */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  transition: all 500ms ease-in-out;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Cairo';
  background-color: #efe6dd;
}

#root,
body {
  transition: none;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.waiting {
  position: relative;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: #db2955;
  
  overflow: hidden;
}
h1 {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase;
  color: #231f20;
  margin: 0.5em;
  padding: 0;
}
.waiting-exit {
  opacity: 1;
}
.waiting-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}
.fries > * {
  position: absolute;
  background-color: #efe6dd;
  background-size: cover;
  background-position: center;
  width: 88px;
  height: 15px;
}

.lang-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: unset !important
}