
/* #231f20, #db2955, #6bb0b3, #d782ba, #efe6dd */
/* TODO CLEAR MOVE COLOR TO THEME*/

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Cairo';
    background-color: #efe6dd;
}
.App {
    width: 100vw;
    height: 100vh;
}
.waiting{
    position: relative;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: #db2955;
}
h1 {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #231f20;
    margin: 0.5em;
    padding: 0;
}
.waiting-exit {
    opacity: 1;
  }
.waiting-exit-active {
    opacity: 0;
    transition: opacity 800ms;
}
.fries > *{
    position: absolute;
    background-color:#efe6dd ;
    background-size: cover;
    background-position: center;
    width: 88px;
    height: 15px;
}
