.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav * {
    transition: all 200ms ease-in-out;
}
.nav > button {
    height: 5em;
    border: none;
    padding: 0;
    align-self: center;
    border-radius: 50%;
    background: #efe6dd;
    box-shadow:  19px 19px 38px #e5ddd4,
                 -19px -19px 38px #f9efe6;
}
.nav > .logo {
    height: 5em;
    width: unset;
}
.nav > div > .nav-link {
    padding: 1em 2em !important;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.nav-link {
    display: flex;
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-radius: 41px;
    align-items: center;
    justify-content: left;
    background: #efe6dd;
    color: #231f20;
    text-decoration: none;
    box-shadow:  5px 5px 9px #e5ddd4,
                 -5px -5px 9px #f9efe6;
}
.nav-header {
    color: #231f20;
    margin: 0 2em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    text-decoration: none;

}

.nav-link-selected {
    padding: 1em 0 !important;
    text-align: center;
    display: block;
    margin: 1em;
    border-radius: 41px;
    align-items: center;
    background: #efe6dd;
    color: #231f20;
    text-decoration: none;
    box-shadow:  5px 5px 9px #e5ddd4,
                 -5px -5px 9px #f9efe6;

}
.nav-link-selected > .nav-link {
    margin: 1em;
    border-radius: 41px;
    background: #efe6dd;
    box-shadow: inset 5px 5px 9px #e5ddd4,
                inset -5px -5px 9px #f9efe6;
}


.App-grid {
    display: grid;
    grid-template: 
        "nav content" 1fr
        "nav footer" 2em
        / auto 1fr;
}