.s-grid {
  position: absolute;
  top: 0;
  left: 7em;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template:
    'name name' auto
    'status data' 1fr
    'login data' 1fr
    / 1fr 1fr;
  margin-inline: 2em;
}

.s-name {
  grid-area: name;
  text-align: left;
}

.s-status {
  grid-area: status;
}

.s-status p,
.s-data p {
  line-height: 1.2;
}

.s-data {
  grid-area: data;
}
.s-data > .scrollable {
  overflow-y: scroll;
  height: 80%;
}
.s-database-info {
  grid-area: login;
}
