.s-grid {
  display: grid;
  grid-template:
    'name name' auto
    'status data' 1fr
    'login data' 1fr
    / 1fr 1fr;
  margin-inline: 2em;
  height: 100vh;
}

.s-name {
  grid-area: name;
  text-align: left;
}

.s-status {
  grid-area: status;
}
.s-data {
  grid-area: data;
}
.s-data > div {
  overflow-y: scroll;
  height: 90%;
}
.s-database-info {
  grid-area: login;
}
